<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>edit</title>
</head>
<body>
<h1>edit employee</h1>
<form th:action="@{/employees/edit}" method="post" th:object="${updateDTO}">
    <input type="hidden" th:field="*{id}">
    <label>
        name:
        <input type="text" th:field="*{name}">
    </label>

    <label>
        email:
        <input type="text" th:field="*{email}">
    </label>

    <label>
        phone:
        <input type="text" th:field="*{phone}">
    </label>

    <label>
        salary:
        <input type="text" th:field="*{salary}">
    </label>

    <button type="submit">save</button>
</form>
</body>
</html>