<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
JPA (Java Persistence API) là một specification (đặc tả) trong Java giúp lập trình viên quản lý dữ liệu giữa object (entity) và database mà không cần viết tay quá nhiều SQL. Nó giống như một bộ luật chung.

Hibernate là một framework hiện thực JPA. Nói cách khác, Hibernate tuân theo JPA để làm công việc ORM (Object-Relational Mapping). Nhờ JPA, code của bạn trở nên dễ bảo trì, ít phụ thuộc vào database, và có thể đổi sang framework ORM khác mà không cần sửa nhiều

Trong phát triển ứng dụng Java, JPA quan trọng vì nó giúp quản lý dữ liệu theo cách hướng đối tượng tự nhiên, giảm boilerplate code, tăng tốc độ dev và giữ cho ứng dụng gọn gàng, sạch sẽ – thay vì suốt ngày viết CRUD SQL thủ công.
</body>
</html>