<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<a th:href="@{/hw01}">hw01</a> <br>
<p>hw02: Tạo một dự án Spring Boot và thêm cấu hình cho JPA trong file application.properties.</p>
<p>hw03: Tạo các class entity để quản lý rạp chiếu phim .</p>
<p>hw04: Tạo các repo cho các class</p>
<p>hw05: Tạo các service cho các class</p>
<p>hw06: Tạo controller cho movie</p>
<p>hw07: Tạo html chức năng tương ứng cho movie
    <a th:href="@{/movies}"> movies management link</a>
</p>
<p>hw08: Tạo controller cho Showtime</p>
<p>hw09 + 10: Tạo html chức năng tương ứng cho movie +  tạo bộ lọc lịch chiếu phim theo các tiêu chí như : lọc lịch chiếu theo phim , lọc lịch chiếu theo ngày , lọc lịch chiếu theo rạp và phòng chiếu  .
    <a th:href="@{/showtimes}"> showtimes management link</a>
    <a th:href="@{/screenrooms}"> screenrooms management link</a>
</p>
</body>
</html>