<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>category list</h3>
<a th:href="@{/categories/add}">add new</a>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c : ${categories}">
        <td th:text="${c.id}">1</td>
        <td th:text="${c.name}">Category Name</td>
        <td>
            <a th:href="@{'/categories/' + 'edit/' + ${c.id} }" style="color: orange;">Edit</a>
            |
            <a th:href="@{'/categories/'+ 'delete/' + ${c.id} }" style="color: red;" onclick="return confirm('delete?')">Delete</a>
            |
            <a th:href="@{'/categories/' + 'detail/'+ ${c.id} }" style="color: blue;">Detail</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>